<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ошибка {{errorCode}}</title>

	<link rel="stylesheet" href="../styles/error.css">
	<link
		rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap"
	/>
</head>
<body>
	<main class="error-container">
		<h1 class="error-code">{{errorCode}}</h1>
		<p class="error-message">{{errorDescription}}</p>
		<a href="/" class="home-button">На главную</a>
	</main>
	<footer>
		&copy; 2025 BMI Calculator. Created by x0djers.
	</footer>
</body>
</html>